fastapi==0.100.0
Flask==2.3.2
Flask_Cors==3.0.10
Flask_JWT_Extended==4.5.2
openai==0.27.7
pydantic==1.10.8
PyJWT==2.8.0
pymongo==4.3.3
PyPDF2==3.0.1
pyppeteer==1.0.2
Requests==2.31.0
uvicorn==0.23.1
bcrypt==4.0.1
python-dotenv==1.0.0
python-multipart==0.0.6
SQLAlchemy==2.0.22
pymysql==1.1.0
pydantic[email]
langchain==0.0.281
waitress==2.1.2
selenium==4.14.0
bs4==0.0.1
alembic==1.12.1
gunicorn
pysqlite
